{% extends 'base.html' %}

{% block content %}
  <div class="row centered">
    <h1>Welcome to Daycare</h1>
  </div>

  <div style="height:50px"></div>

  <div class="row centered">
    <h3>Parents enter you child's sercret code here:</h3>
  </div>

  <div style="height:50px"></div>

  <!-- Parent sign in form -->
  <div class="row centered">
    <form method="get">
      {% csrf_token %}
      <input type="text" name="code" placeholder="Code goes here:">
      <input class="button" type="submit" name="" value="Submit">
    </form>
  </div>

  <div style="height:50px"></div>

  <!-- Information displayed when code entered -->
  {% if profile %}

    <div class="row centered">
      <h2>Welcome {{ profile.parent_name }}, your child {{ profile.child_name }} is {% if profile.last_report.action == "i" %} ON-SITE {% else %} OFF-SITE {% endif %}</h2>
    </div>

    <div style="height:50px"></div>

    <div class="row centered">
      <h3>What would you like to do?</h3>
    </div>

    {% comment %}
    <form class="" action="" method="post">
      {% csrf_token %}
      <div class="row centered">
        {% if profile.last_report.action == "i" %}
          <input type="submit" class="button primary big" name="out" value="Check-OUT">
        {% else %}
          <input type="submit" class="button primary big" name="in" value="Check-IN">
        {% endif %}
      </div>
    </form>
    {% endcomment %}

    <div class="row centered">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button primary big" type="submit" value="Submit">
      </form>
    </div>


    <div class="row centered">
      <a href="{% url 'parent_profile_view' profile.id %}" class="button big" role="button">Go to your Profile Page</a>
    </div>


{% endif %}



{% endblock %}
